<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Edit Doctor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="mb">
    <h1>Edit details:</h1>
</div>

<div class="box">
  <main class="login-card" role="main">
    <form action="{{ url_for('editdoc', id=d.id) }}" method="POST">
      <div>
        <label>Full name</label>
        <input name="name" type="text" value="{{ d.name }}">
      </div>

      <div>
        <label>Department</label>
        <input name="dept" type="text" value="{{ d.dept }}">
      </div>

      <div>
        <label>Password</label>
        <input name="passw" type="text" value="{{ d.passw }}">
      </div>

      <div>
        <label>Experience (in years)</label>
        <input name="exp" type="text" value="{{ d.exp }}">
      </div>

      <div style="display: flex; gap: 10px; margin-top: 10px;">
        <button type="submit">Save</button>
        <button type="button" onclick="history.back()">Cancel</button>
      </div>
    </form>
  </main>
</div>
</body>
</html>
