<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="ddashH" style="margin-bottom: 20px;">
        <h1>Patient Dashboard</h1>
        <div class="logout">
            <div style="display: flex; gap: 10px; justify-content: end;">
                <form action="{{ url_for('pHist',pname = p) }}" method="POST">
                    <button type="submit">History</button>
                </form>
                <form action="/" method="GET">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </div>
    </div>
    <h2 class="mb">Welcome, {{p}}</h2>

    <div class="assedpats mb" >
        <h3>Available Departments</h3>
        {% for d in depts %}
        <div class="pat dash">
            <div class="doc">{{d[0]}}</div>
            
            <div style="display: flex; justify-content: end;">
                <form action="{{ url_for('deptdets',deptname = d[0],pname = p) }}" method="POST">
                    <button type="submit">Details</button>
                </form>
            </div>
            
        </div>
        {% endfor %}
    </div>

    <div class="docappts mb">
        <h3>Upcoming appointments</h3>
        <div>
            <table border="2">
                <thead>
                    <tr>
                        <th>Doctor</th>
                        <th>Department</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in appts %}
                    <tr>
                        <td>{{ a.d.name }}</td>
                        <td>{{ a.d.dept }}</td>
                        <td>{{ a.date }}</td>
                        <td>{{ a.time }}</td>
                        <td style="padding: 5px;">
                            <form action="{{ url_for('appntdel',pname = p, aid = a.id) }}" method="POST">
                                <button type="submit">Cancel</button>
                            </form>
                        </td>
                    </tr>
                    {% else %}
                    <td colspan="4">No Appointments yet</td>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>

</body>

</html>